startup --windows_enable_symlinks

run --color=yes

build --color=yes
build --verbose_failures

test --test_output=errors
test --test_summary=terse

build --copt=-DHAVE_BAZEL_BUILD=1

# See https://github.com/odygrd/quill/issues/135
#build --cxxopt="-std=c++20"  # broken.
build --cxxopt="-std=c++14"
