startup --windows_enable_symlinks

run --color=yes

build --color=yes
build --verbose_failures

test --test_output=errors
test --test_summary=terse

build --copt=-DHAVE_BAZEL_BUILD=1

# Compiler specific flags.
build --cxxopt="-std=c++20"  # broken.
build:msvc --cxxopt=/std:c++latest
build:gcc --config=cc
build:gcc --cxxopt='-fanalyzer'
build:clang --config=cc
build:clang --cxxopt='-stdlib=libc++'

# Platform specific configuration.
build --enable_platform_specific_config
build:windows --enable_runfiles
build:windows --config=msvc
build:linux   --config=cc
build:macos   --config=cc
build:macos   --features=-supports_dynamic_linker
build:freebsd --config=cc
build:openbsd --config=cc

# Debugging configuration.
build:debug --compilation_mode=dbg
build:debug --copt=-DHAVE_BAZEL_BUILD_DEBUG=1
#build:debug --copt="-g0"
build:debug --copt="-g3"
build:debug --copt="-fpic"
build:debug --strip=never
